/**
 * Database panel
 */

#database-filter-form .form-item {
    float: left;
    margin-right: 10px;
}

#filter-query-wrapper {
    clear: left;
}

#wp-query-wrapper {
    margin-top: 20px;
}

.wp-query {
    margin-bottom: 30px;
    padding: 10px;
    background-color: #F0F0F0;
}

.wp-query-sql {
    font-size: 9px;
}

.wp-query-sql .hljs {
    background: none;
}

.wp-query-select {
    border-left: 5px solid #CCC;
}

.wp-query-insert {
    border-left: 5px solid #759E1A;
}

.wp-query-update {
    border-left: 5px solid #FC0;
}

.wp-query-delete {
    border-left: 5px solid #A33;
}

.wp-query-info {
    margin: 10px 0;
}

.wp-query-sql {
    width: 95%;
    float: left;
}

.wp-button {
    background-color: #CCC;
    color: #fff;
    padding: 3px;
    cursor: pointer;
    border-radius: 4px;
}

a.wp-button:link {
    text-decoration: none;
}

.wp-button.open {
    background-color: #AAA;
}

.wp-query-info-button {
    margin-bottom: 5px;
    float:right
}

.wp-query-copy-button {
    float:right
}

.wp-query-info {
    display: none;
    margin: 10px 0;
}

.wp-query-arguments {
    overflow-x: scroll;
}

.wp-query-explain-wrapper {
    margin-top: 10px;
    overflow-x: scroll;
}

.wp-query-explain-wrapper table {
    background-color: #FCFCFA;
}
