/**
 * Service panel
 */

#service-filter-form .form-item {
    float: left;
    margin-right: 10px;
}

#service-filter-form #filter-service-wrapper {
  clear: left;
}

#service-filter-form {
  margin-bottom: 20px;
}

#wp-service-wrapper {
  overflow-x: scroll;
}
