/* query panel */

.query {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.query-info {
    margin: 10px 0;
}

.query-info-button {
    background-color: #CCC;
    color: #fff;
    padding: 3px;
    cursor: pointer;
    border-radius: 4px;
}

.query-info-button.open {
    background-color: #AAA;
}

.query-data {
    display: none;
    margin: 10px 0;
}

/**
 * Timeline related CSS.
 */
.timeline {
    background-color: #fbfbfb;
    margin-bottom: 15px;
    margin-top: 5px;
}

.sf-profiler-timeline .legends {
    font-size: 12px;
    line-height: 1.5em;
}

.sf-profiler-timeline .legends span {
    border-left-width: 10px;
    border-left-style: solid;
    padding: 0 10px 0 5px;
}

.sf-profiler-timeline canvas {
    border: 1px solid #999;
    border-width: 1px 0;
}
