<table {% if class is defined %}class='{{ class }}'{% endif %} >
    <thead>
        <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        {% for key in bag.keys|sort %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ bag.get(key) }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
