{% block menu %}
    {{ 'Routing'|t }}
{% endblock %}

{% block menu_summary %}
    {{ 'Defined routes'|t }}: {{ collector.routing|length }}
{% endblock %}

{% block panel %}
    <h2>Available routes</h2>

    {% include '@webprofiler/Profiler/table.html.twig' with { 'data': collector.routing, 'class': 'inline' } only %}
{% endblock %}
